body,
html {
  font-family: "Sawarabi Mincho";
  margin: 0;
  background-color: #1e1e1e;
  color: #fff;
}
.l-about h1,
.l-main h1 {
  font-size: 25px;
  font-weight: 100;
  margin-bottom: 40px;
  border-bottom: 2px solid #772b2c;
  display: inline-block;
  margin-bottom: 50px;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
/*トップ画面*/
.l-header__item {
  color: #fff;
}

.l-header__item a {
  text-decoration: none;
  color: inherit;
}
ul.l-header__link li:hover ul {
  display: block;
}
ul.l-header__link ul {
  display: none;
}
.l-header__slider {
  width: 100%;
  height: 100vh;
}
.l-header__logo {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.l-header__logo img {
  margin: auto;
  display: block;
}
.l-header__sublink {
  font-size: 25px;
  color: #000;
  right: 10px;
  position: fixed;
  top: 5px;
}
.l-header__sublink img {
  width: 100px;
  height: 100px;
}
.l-header__sublink:hover {
  transform: scale(1.2, 1.2);
}
/*メニュー画面*/
.l-header__food {
  background-image: url("../image/131528.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.l-header__title h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  color: #fff;
}
/*メニューメイン画面*/
.l-main__menu {
  margin: 0 auto 100px auto;
  width: 50%;
}
.l-main__menuch {
  display: flex;
  left: 50%;
  margin: 40px 0 50px 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
}
.l-main__menuch li {
  width: 50%;
  text-align: center;
  cursor: pointer;
}
.tab2 {
  border-left: solid 1.5px #fff;
}
/*メニュー画像*/
.l-main__content {
  margin-bottom: 100px;
}
.l-main__contentbox {
  padding: 0;
  margin: 0 auto;
  width: 70%;
}
.l-main__contentitem {
  display: none;
}
.l-main__contentitem.show {
  display: block;
}

.l-main__contentimg img {
  object-fit: cover;
  border-radius: 10px;
}
figcaption {
  border-radius: 10px;
  margin-bottom: 30px;
  text-align: center;
}
.l-main__subcontent {
  text-align: center;
}
.l-main__subcontent p {
  margin-bottom: 70px;
}
.l-main__submenu p {
  line-height: 2.5em;
}
.l-main__subflex {
  display: flex;
  width: 50%;
  margin: auto;
  padding: 0;
  justify-content: space-between;
  flex-wrap: wrap;
}
.l-main__subflex img {
  width: 200px;
  height: 200px;
}
/*スライドショー*/
@keyframes infinity-scroll-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.scroll-infinity__wrap {
  display: flex;
  overflow: hidden;
}
.scroll-infinity__list {
  display: flex;
  list-style: none;
  padding: 0;
}
.scroll-infinity__list--right {
  animation: infinity-scroll-right 80s infinite linear 0.5s both;
}

.scroll-infinity__item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}
.scroll-infinity__item > img {
  width: 100%;
}
.scroll-infinity {
  margin-bottom: 100px;
}
/*アバウト*/
.l-header__about {
  background-image: url("../image/131525.jpg");
  height: 500px;
  width: 100%;
  background-size: cover;
  margin: 0 0 50px 0;
  padding: 0;
}
.l-about {
  margin: auto;
  text-align: center;
}
.l-about_contents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.l-about_contents img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
#photo {
  width: 300px;
  height: 300px;
  position: relative;
}
#photo img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.l-about_contents p {
  line-height: 2.5em;
  padding: 30px;
  text-align: center;
}
.l-about__contents2 {
  margin-bottom: 50px;
}
.l-about__table {
  margin: auto;
}
.l-about__table tr td {
  border: 1px solid #595959;
}
.l-about__table td {
  text-align: left;
}
/*フッター*/
.l-footer {
  height: auto;
  width: 100%;
  background-color: #772b2c;
  position: relative;
  text-align: center;
  font-size: 15px;
}
.l-footer__menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
.l-footer__menu img {
  width: 40px;
  height: 40px;
}
@media screen and (max-width: 900px) {
  .l-header__logo img {
    max-width: 90%;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .l-header__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .l-header__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .l-header__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .l-header__link {
    left: 0 !important;
  }
  .l-header__btn {
    position: fixed;
    top: 40px;
    left: 30px;
    width: 40px;
    height: 50px;
    cursor: pointer;
    z-index: 1;
  }
  .l-header__btn > span,
  .l-header__btn > span::before,
  .l-header__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .l-header__btn > span::before {
    content: "";
    top: -8px;
  }
  .l-header__btn > span::after {
    content: "";
    top: 8px;
  }
  .l-header__link {
    position: absolute;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(119, 43, 44, 0.9);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }
  .l-header__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .l-header__item:hover {
    background-color: #cfd8dc;
    color: #000;
  }
  .l-header__menu {
    position: relative;
    z-index: 2;
  }
  .scroll-infinity__item {
    width: calc(100vw / 2);
  }
  .l-main__contentflex {
    flex-direction: column;
    align-items: center;
  }
  .l-main__contentimg img {
    height: 200px;
    width: 100%;
  }
  .l-main__subflex {
    justify-content: center;
  }
  .l-about {
    width: 70%;
  }
  .l-about__pct {
    width: 100%;
  }
  .scroll-infinity__item {
    width: calc(100vw / 2);
  }
  .l-footer__menu ul {
    justify-content: center;
  }
  .l-footer__menu li {
    margin: 0 20px;
  }
}
@media screen and (max-width: 500px) {
  .l-about {
    width: 100%;
  }
  .l-footer__menu ul {
    padding: 0 20px;
  }
  .l-footer__menu li {
    margin: 0 10px;
    font-size: 13px;
  }
}
@media screen and (min-width: 900px) {
  /* PC style */
  #menu__toggle {
    display: none;
  }
  .l-header__item a:hover {
    border-bottom: #fff solid 1.5px;
    border-top: #fff solid 1.5px;
  }
  .l-header__link {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .l-header__item {
    padding: 10px 0 0 50px;
    font-size: 25px;
  }
  .l-main__contentimg img {
    height: 200px;
    width: 300px;
  }
  .l-main__contentflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .l-main__subflex {
    justify-content: space-between;
  }
  .l-about {
    width: 70%;
  }
  .l-about__pct {
    width: 50%;
  }
  .scroll-infinity__item {
    width: calc(100vw / 4);
  }
  .l-footer__menu ul {
    justify-content: center;
  }
  .l-footer__menu li {
    margin: 0 20px;
  }
}
